<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>Movie Form</title>
</head>
<body class="movie-form">
  <h1>Movie form</h1>
  <a href="/">Back</a>
  <form method="POST" action="/movie/add">
    <input placeholder="title" type="text" name="title" max="150"/>
    <input placeholder="director" type="text" name="director" max="150"/>
    <button type="submit">Add</button>
  </form>
</body>
</html>