<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <title>User Form</title>
</head>
<body class="user-form">
  <h1>User form</h1>
  <a href="/">Back</a>
  <form method="POST" action="/user/add">
    <input type="text" placeholder="username" name="user_name" max="50"/>
    <input type="text" placeholder="nickname" name="nick_name" max="50"/>
    <input type="password" placeholder="password" name="password"/>
    <button type="submit">Add</button>
  </form>
</body>
</html>